<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" type="image/png" href="favicon.png">
    <title>Конвертер валют</title>
</head>
<body>
    <div class="container">
        <h1>Конвертер валют</h1>
        <div class="currency-converter">
            <div class="form-group">
                <label for="fromValute">Выберите валюту</label>
                <select name="fromValute" id="fromValute">
                  <option value="">Загрузка валют...</option>
                </select>
                <label for="toValute">Выберите валюту</label>
                <select name="toValute" id="toValute">
                    <option value="">Загрузка валют...</option>
                </select>
                <input type="number" min="1" step="" id="cQ">Введите количество конвертируемой валюты</input>
            </div>
            <button id="convertBtn">Конвертировать</button>
            <div class="result" id="result"></div>
            <div class="error-message" id="errorMessage"></div>
        </div>
    </div>
    
    <script src="static/js/loadValutes.js"></script>
</body>
</html>